<div class="panel panel-body">
<h2>Sign up</h2>
<hr>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id, required: true, autofocus: true, label: "Identity Number" %>
    <%= f.input :email, required: true %>
    
    <%= f.input :name, required: true %>
    <%= f.input :surname, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.hidden_field :employee_user_level_id, :value => 1 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>